.bg { background-color:#404040; color:#eee; margin:0; font: 16px tahoma,arial; }
a, a:active, a:focus { color:#ffbc00; outline:none; text-decoration: none; }
input[type=text], input[type=password], input[type=number], input[type=button], textarea, select, button { 
  border-radius:4px; border:1px solid #afafaf; background-color:#555; color:#eee; }
.mh_f { max-height:100px; position:fixed; }