body,h1 { font: 16px arial; margin:0; }
h1 { font-size: 112.5%; }
a,a:active,a:focus { color:#3c677b; outline:none; text-decoration:none; }
b,i,em { color:#777; }
input, select, button { border-radius:4px; border:1px solid #afafaf; }
svg { cursor:pointer; }
.wrap { padding:5px 10px 2px 10px; margin:0 0px 10px 0px; border-radius:4px; }
/*dark theme*/
.bg input, .bg select, .bg button { background-color:#555; color:#eee; }
.bg a,.bg a:active,.bg a:focus { color:#ffbc00; }
.bg { background-color:#404040; color:#eee; }
/**/
.mh_f { max-height:65px; position:fixed; }